h1{
  text-align: center;
  font-family: 'Licorice', cursive;
}
table{
  text-align: center;
  border-spacing: 20px;
  margin:auto;
}
td{
  width:200px;
  height:400px;
  background:black;
}

#td1{
  background: #247BA0;
}

#td2{
  background: #70C1B3;
}

#td3{
  background: #B2DBBF;
}

#td4{
  background: #F3FFBD;
}

#td5 {
  background: #FF1654;
}
